src/collectors/__pycache__/
data
data_extraido
src/extractor/__pycache__/
src/models/__pycache__/
src/parsers/__pycache__/
src/storage/__pycache__/
dados_cvm
src/utils/__pycache__/
src/utils/__pycache__/logger.cpython-312.pyc
src/utils/__pycache__/logger.cpython-312.pyc
logs
data_xml/
XML/
sqlite-projeto/cvm-dados.db
src/service/__pycache__/
src/repository/__pycache__/
resumo_execucao.log
